@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

nav {
  display: flex;
  padding: 20px 70px;
  gap: 50px;
}

.logo {
  font-family: Montserrat, sans-serif;
  font-size: 1.875rem;
  color: #0290ff;
  text-decoration: none;
}

.links-container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 30px;
  margin-top: 8px;

  .nav-link {
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-size: 0.813rem;
    letter-spacing: 1.9px;
    color: #121212;
  }
}

.person-icon {
  color: #0290ff;
  border-radius: 50%;
  border: solid 1px #e8e8e8;
  padding: 5px;
  margin-left: auto;
}
